body {
	display: block;
	width: 100%;
	height: 100vh;
	div.colour-selector {
		top: 50%;
		left: 50%;
		box-sizing: border-box;
		position: absolute;
		background-color: #ffffff;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 500px;
		padding: 50px 20px;
		div.colour-block {
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
			input[type="text"]{
				padding: 5px 12px;
				width: 200px;
			}
			h3 {
				margin: 0 0 10px 0;
			}
		}
		a {
			display: block;
			padding: 15px;
			width: 200px;
			background-color: #222222;
			color: #ffffff;
			border-radius: 3px;
			margin: 20px auto 0 auto;
			text-decoration: none;
		}
	}
}