body{display:block;width:100%;height:100vh}body div.colour-selector{top:50%;left:50%;box-sizing:border-box;position:absolute;background-color:#ffffff;transform:translate(-50%, -50%);text-align:center;width:500px;padding:50px 20px}body div.colour-selector div.colour-block{margin-bottom:20px}body div.colour-selector div.colour-block:last-of-type{margin-bottom:0}body div.colour-selector div.colour-block input[type="text"]{padding:5px 12px;width:200px}body div.colour-selector div.colour-block h3{margin:0 0 10px 0}body div.colour-selector a{display:block;padding:15px;width:200px;background-color:#222222;color:#ffffff;border-radius:3px;margin:20px auto 0 auto;text-decoration:none}
/*# sourceMappingURL=main.css.map */
